<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="static/semantic/semantic.min.js"></script>
    <!-- Standard Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <style>
        body {
            background-image: url("static/background.png");
            /* Путь к фоновому изображению */
            background-color: #c7b39b;
            /* Цвет фона */
        }
    </style>
</head>

<body>
    <div class="ui raised segments centered">
        <div class="ui segment" style="width: 100%; height: 6%;">
            <div class="ui secondary menu">
                <a class="item">
                    Поиск книг
                </a>
                <a class="active item">
                    Взятые на чтение книги
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="id card outline icon"></i> <b>Александр Чортович</b>
                    </a>
                    <div class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Пока!</div>
                        <div class="visible content">
                            <i class="sign out icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment" style="width: 100%; height: 94%;">
            <table class="ui single line table">
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i>Программирование на языке Rust
                        </td>
                        <td class="right aligned collapsing">
                            <button class="ui green button" style="width: 30%;">
                                Читать (Осталось 30 дней)
                            </button>
                            <button class="ui red button" style="width: 10%;">
                                Вернуть
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i>Книга "Пёся"
                        </td>
                        <td class="right aligned collapsing">
                            <button class="ui green button" style="width: 30%;">
                                Читать (Осталось 2 дней)
                            </button>
                            <button class="ui red button" style="width: 10%;">
                                Вернуть
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>