{% extends 'Books/base.html' %}

{% block title %}Список читаемых книг{% endblock %}
{% block panel %}
                <a class="item" href="/main/search" >
                    Поиск книг
                </a>
                <a class="active item" >
                    Взятые на чтение книги
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="id card outline icon"></i> <b>{{ user.id }}</b>
                    </a>
                    <div class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Пока!</div>
                        <div class="visible content">
                            <i class="sign out icon"></i>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block table_content %}

                {% for book in books %}
                    {% for read in reading %}
                        {% if user.id == read.user_id and book.id == read.book_id %}
                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i>{{ book.title}}
                        </td>
                        <td class="collapsing">
                            {{ book.author }}
                        </td>
                        <td class="right aligned collapsing">
                            <button class="ui green button" style="width: 30%;">
                                Читать (Осталось {{ read.days }} дней)
                            </button>
                            <button class="ui red button" style="width: 10%;">
                                Вернуть
                            </button>
                        </td>
                    </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
 {% endblock %}