{% extends 'Books/base.html' %}

{% block title %}Список читаемых книг{% endblock %}
{% block panel %}
                <a class="item" href="/main/search" >
                    Поиск книг
                </a>
                <a class="active item" >
                    Взятые на чтение книги
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="id card outline icon"></i> <b>{{ user.username }}</b>
                    </a>
                    <div class="ui vertical animated button" id="logoutButton" tabindex="0">
                        <div class="hidden content">Пока!</div>
                        <div class="visible content">
                            <i class="sign out icon"></i>
                        </div>
                    </div>
                    <script>
                document.getElementById("logoutButton").addEventListener("click", function(){ window.location.replace("{% url 'logout' %}");; });
                </script>
                </div>
{% endblock %}
{% block table_content %}


                    {% for read in reading %}

                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i>{{ read.book_id.title }}
                        </td>
                        <td class="collapsing">
                            {{ read.book_id.author }}
                        </td>
                        <td class="right aligned collapsing">
                            <button class="ui green button" style="width: 30%;">
                                Читать (Осталось {{ read.days }} дней)
                            </button>
                            <button class="ui red button" style="width: 10%;">
                                Вернуть
                            </button>
                        </td>
                    </tr>


                {% endfor %}
 {% endblock %}