{% extends 'Books/base.html' %}

{% block title %}Список читаемых книг{% endblock %}
{% block panel %}
<a class="item" href="/main/search">
    Поиск книг
</a>
<a class="active item">
    Взятые на чтение книги
</a>
<a class="item" href="/main/completed">
    Список прочитанных книг
</a>
<div class="right menu">
    <a class="item">
        <i class="id card outline icon"></i> <b>{{ user.username }}</b>
    </a>
    <div class="ui vertical animated button" id="logoutButton" tabindex="0">
        <div class="hidden content">Пока!</div>
        <div class="visible content">
            <i class="sign out icon"></i>
        </div>
    </div>
    <script>
        document.getElementById("logoutButton").addEventListener("click", function () { window.location.replace("{% url 'logout' %}");; });
    </script>
</div>
{% endblock %}

{% block table_content %}
{% if reading %}
{% for read in reading %}

<tr>
    <td class="special collapsing">
        <div class="bookTitle"
            data-html="<div class='header'></div><div class='content'><img class='ui small image' src='{{ read.book_id.cover.url }}'>"
            data-position="bottom right"><i class="book icon"></i>{{ read.book_id.title }}</div>
        <i>{{ read.book_id.author }}</i>
    </td>
    <td class="right aligned collapsing">
        <div class="ui right pointing label">Страница {{read.last_page}}</div>
        <div class="ui green button reading {{ read.id }}">Читать (Осталось {{ read.days }} дней)</div>

        <button class="ui red button delete {{ read.id }}">
            Вернуть
        </button>
    </td>
</tr>

<script>
    $('.reading.{{ read.id }}').click(
        function () {
            window.location.href = "{% url 'read' read.id %}"
        }
    )
    $('.delete.{{ read.id }}').click(
        function () {
            window.location.href = "delete/{{ read.id }}"
        }
    )
</script>

{% endfor %}

<script>
    $('.bookTitle')
        .popup({
            on: 'hover'
        })
        ;

</script>
{% else %}
Вы не читаете ни одной книги, <a href="/main/search/">перейти в каталог</a>
{% endif %}
{% endblock %}