{% extends 'Books/base.html' %}

{% block title %}Список доступных книг{% endblock %}
{% block panel %}
                <a class="active item">
                    Поиск книг
                </a>
                <a class="item" href="/main">
                    Взятые на чтение книги
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="id card outline icon"></i> <b>{{ user.username }}</b>
                    </a>
                    <div class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Пока!</div>
                        <div class="visible content">
                            <i class="sign out icon"></i>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block table_content %}

    <form method="get">
    <input type="text" name="q" id="id_q" placeholder="Поиск">
    </form>

{% for book in books %}

{% if book in array %}
    <tr>
                        <td class="collapsing">

                            <div class = "bookTitle" data-html="<div class='header'></div><div class='content'><img class='ui small image' src='{{ book.cover.url }}'>" data-position="bottom right" ><i class="book icon"></i>{{ book.title }}</div>
                            <i>{{ book.author }}</i>
                        </td>
                        <td class="right aligned collapsing">

                            <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <input type="hidden" name="book_id" value="{{ book.id }} " />
        </p>
        <p>
        <button type="submit" value="Сохранить" class="ui button disabled" style="width: 50%;">
            Вы уже читаете
                </button>
    </form>

                            </form>
                        </td>
                    </tr>
{% elif book.count > 0 %}
                    <tr>
                        <td class="collapsing">

                            <div class = "bookTitle" data-html="<div class='header'></div><div class='content'><img class='ui small image' src='{{ book.cover.url }}'>" data-position="bottom right" ><i class="book icon"></i>{{ book.title }}</div>
                            <i>{{ book.author }}</i>
                        </td>
                        <td class="right aligned collapsing">

                            <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <input type="hidden" name="book_id" value="{{ book.id }} " />
        </p>
        <p>
        <button type="submit" value="Сохранить" class="ui button" style="width: 50%;">
            Читать (Осталось {{ book.count }} экземпляров)
                </button>
    </form>

                            </form>
                        </td>
                    </tr>

{% else %}
    <tr>
                        <td class="collapsing">

                            <div class = "bookTitle" data-html="<div class='header'></div><div class='content'><img class='ui small image' src='{{ book.cover.url }}'>" data-position="bottom right" ><i class="book icon"></i>{{ book.title }}</div>
                            <i>{{ book.author }}</i>
                        </td>
                        <td class="right aligned collapsing">

                            <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <input type="hidden" name="book_id" value="{{ book.id }} " />
        </p>
        <p>
        <button type="submit" value="Сохранить" class="ui button disabled" style="width: 50%;">
            Нет в наличии
                </button>
    </form>

                            </form>
                        </td>
                    </tr>
    {% endif %}

{% endfor %}

<script>
    $('.bookTitle')
        .popup({
            on: 'hover'
        })
        ;
</script>

{% endblock %}