{% extends 'Books/base.html' %}

{% block title %}Список доступных книг{% endblock %}
{% block panel %}
                <a class="active item">
                    Поиск книг
                </a>
                <a class="item" href="/main">
                    Взятые на чтение книги
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="id card outline icon"></i> <b>{{ user.username }}</b>
                    </a>
                    <div class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Пока!</div>
                        <div class="visible content">
                            <i class="sign out icon"></i>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block table_content %}
{% for book in books %}
{% for read in reading %}
{% if read.book_id != book.id %}
                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i> {{ book.title }} {{ book.author }}
                        </td>
                        <td class="right aligned collapsing">
                            <button class="ui button" style="width: 50%;">
                                Читать (Осталось {{ book.count }} экземпляров)
                            </button>
                        </td>
                    </tr>
{% endif %}
{% endfor %}
{% if book.count == 0 %}
                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i> {{ book.title }} {{ book.author }}
                        </td>
                        <td class="right aligned collapsing">
                            <button class="ui button disabled" style="width: 50%;">
                                Осталось {{ book.count }} экземпляров
                            </button>
                        </td>
                    </tr>
{% endif %}
{% endfor %}
{% endblock %}