{% extends 'Books/base.html' %}

{% block title %}Список доступных книг{% endblock %}
{% block panel %}
                <a class="active item">
                    Поиск книг
                </a>
                <a class="item" href="/main">
                    Взятые на чтение книги
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="id card outline icon"></i> <b>{{ user.username }}</b>
                    </a>
                    <div class="ui vertical animated button" tabindex="0">
                        <div class="hidden content">Пока!</div>
                        <div class="visible content">
                            <i class="sign out icon"></i>
                        </div>
                    </div>
                </div>
{% endblock %}
{% block table_content %}

{% for book in books %}

                    <tr>
                        <td class="collapsing">
                            <i class="book icon"></i> {{ book.title }} {{ book.author }}
                        </td>
                        <td class="right aligned collapsing">

                            <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <input type="hidden" name="book_id" value="{{ book.id }} " />
        </p>
        <p>
        <button type="submit" value="Сохранить" class="ui button" style="width: 50%;">
            Читать (Осталось {{ book.count }} экземпляров)
                </button>
    </form>

                            </form>
                        </td>
                    </tr>


{% endfor %}

{% endblock %}